body {
  font-family: "Gill Sans";
  background-color: #8be5ed;
  text-align: center;
}

a {
  text-decoration: none;
  color: rgb(7, 146, 159);
  background-color: rgb(123, 223, 198);
  padding: 10px;
  border-radius: 25px;
  margin: 20px;
}
