body {
  font-family: "Gill Sans";
  background: #12c2e9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  text-align: center;
}

a {
  text-decoration: none;
  color: rgb(7, 146, 159);
  background-color: rgb(123, 223, 198);
  padding: 10px;
  border-radius: 25px;
  margin: 20px;
}
